## 1)

In [ ]:
1) a='Pwskills'

2) l=[4,9,6,'pwlabs',5.3]

3) f=5.2

4) t=(5,6,8)

## 2)

In [ ]:
1) var1=String

2) var2=String

3) var3=List

4) var4=Float

## 3)

- 1) / (Division Operator):
This operator is used for division, performing floating-point division when dividing two numbers. It returns the quotient as a floating point number.
- Example-

In [4]:
5/2

2.5

- 2) % (Modulus Operator):
This operator returns the remainder when one number is divided by another. It's often used to check if a number is divisible by another.
- Example-

In [5]:
9%2

1

- 3) // (Floor Division Operator):
This operator is used for floor division, which returns the integer part of the quotient without the fractional part.
- Example-

In [6]:
45//2

22

- 4) ** (Exponentiation Operator):
This operator is used for exponentiation, raising a number to the power of another number.
- Example-

In [8]:
5**3

125

## 4)

In [9]:
list=[25, "pwskills",{"apple", "banana", "cherry"}, 8.25, True, [86, 23, 25], {'name': 'aniket', 'age': 20}, (5, 6), None , 7.5]

In [10]:
for i in list:
    print (i)
for i in list:
    print(type(i))

25
pwskills
{'banana', 'cherry', 'apple'}
8.25
True
[86, 23, 25]
{'name': 'aniket', 'age': 20}
(5, 6)
None
7.5
<class 'int'>
<class 'str'>
<class 'set'>
<class 'float'>
<class 'bool'>
<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'NoneType'>
<class 'float'>

## 5)

In [11]:
A=int(input('Enter the value of A'))
B=int(input('Enter the value of B'))
count=0

while B!=0 and A>=B:
    if A%B==0:
        count+=1
        A=A/B
    else:
        break
if A != 0:
    print("Number A is divisible by number B", count, "times.")
else:
    print("Number A is not purely divisible by number B.")

Enter the value of A 16
Enter the value of B 2

Number A is divisible by number B 4 times.

## 6)

In [12]:
## To create list
list=range(1,26)
for i in list:
    print(i)
## To check divisibility    
for i in list:
    if i%3==0:
        print('number is divisible by 3')
    else:
        print('number is not divisible by 3')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
number is not divisible by 3
number is not divisible by 3
number is divisible by 3
number is not divisible by 3
number is not divisible by 3
number is divisible by 3
number is not divisible by 3
number is not divisible by 3
number is divisible by 3
number is not divisible by 3
number is not divisible by 3
number is divisible by 3
number is not divisible by 3
number is not divisible by 3
number is divisible by 3
number is not divisible by 3
number is not divisible by 3
number is divisible by 3
number is not divisible by 3
number is not divisible by 3
number is divisible by 3
number is not divisible by 3
number is not divisible by 3
number is divisible by 3
number is not divisible by 3

## 7)

- Mutable Data Type= Mutable data types are those whose values can be changed after they are created.
Examples of mutable data types include lists, dictionaries, and sets in Python.

In [13]:
## Code
list=[1,5,9,3,'aniket',5-2j,True,56.45]  

list[7]='abhay'  

list

[1, 5, 9, 3, 'aniket', (5-2j), True, 'abhay']

- Immutable Data Type= Immutable data types are those whose values cannot be changed after they are created.
- Examples of immutable data types include integers, floats, strings, tuples in Python

In [14]:
## Code
a='pwskills'
a[2]='g'
a

TypeError: 'str' object does not support item assignment